<div class="container">
	<div [hidden]="submitted">
		<div class="page-header">
		  <h3>Nuevo Pedido</h3>
		</div>
		<div *ngIf="msgSuccess" class="alert alert-success" role="alert">
			<strong>{{msgSuccess}}</strong>
		</div>
		<form class="form-horizontal" *ngIf="active" (ngSubmit)="onSubmit()" #pedidoForm="ngForm">
			<div class="form-group">
			 	<div class="col-xs-3">
					<label for="nombre">Nombre</label>
					<input type="text" class="form-control" id="nombre"
					required [(ngModel)]="model.nombre" maxlength="100" name="nombre" #objetoNro="ngModel">
				</div>

				<div class="col-xs-3">
					<label for="monto">Monto</label>
					<input type="text" class="form-control" id="monto"
					required [(ngModel)]="model.monto" ngModel pattern="([0-9]*[.])?[0-9]+" name="monto" #objetoNro="ngModel">
				</div>
		        
				<div class="col-xs-3">
					<label for="descuento">Descuento</label>
					<input type="text" class="form-control" id="descuento"
					[(ngModel)]="model.descuento" ngModel pattern="([0-9]*[.])?[0-9]+" name="descuento" #descuento="ngModel">
			    </div>
			</div>
			<div class="form-group">
				<div class="col-xs-3">
					<button type="submit" class="btn btn-default" [disabled]="!pedidoForm.form.valid">Aceptar</button>
					<button type="button" class="btn btn-default" (click)="newPedido()">Limpiar</button>
				</div>
			</div>
		</form>
	</div>

	<div [hidden]="!submitted">
		<div class="page-header">
		  <h3>Pedido Ingresado</h3>
		</div>
		<div class="row">
			<div class="col-xs-3">Nombre</div>
			<div class="col-xs-9  pull-left">{{ model.nombre }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Monto</div>
			<div class="col-xs-9  pull-left">{{ model.monto }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Descuento</div>
			<div class="col-xs-9  pull-left">{{ model.descuento }}</div>
		</div>
		
		<br>

		<button class="btn btn-default" (click)="savePedido()">Guardar</button>
		<button class="btn btn-default" (click)="submitted=false">Editar</button>
	</div>
</div>